<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Login User</h1>
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Enter email" required>
            <input type="password" name="password" placeholder="enter your password" required>
            <a href="register">New user</a>
            <button type="submit">Log in</button>
        </form>
</body>
</html>