<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register user</title>
</head>
<body>
       <h1>Register User</h1>
       <form action="/register" method="post">
        <input type="text" name="firstName" placeholder="Enter firstName" required>
        <input type="text" name="lastName" placeholder="Enter lastName">
        <input type="email" name="email" placeholder="Enter Email" required>
        <input type="number" name="mobileNo" placeholder="Enter mobileNo">
        <input type="password" name="password" placeholder="enter your password" required>
        <a href="login">you have alredy an account ?</a>
        <button action="/todo-list" type="submit">Register in</button>
    </form>
</body>
</body>
</html>